/* Estilos para el Navbar */
.navbar {
  background-color: #fff; 
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  
}

/* Título Infobae */
.navbar-title {
  color: #FF6A13;
  font-size: 70px;
  font-weight: 500;
}




